<h1 class="styling-color">Button</h1>
<p class="sub-content">
  CSS Buttons are used to decorate the web pages by applying the various styling
  properties to the button Buttons are used for event processing and interacting
  with the user.
</p>
<h2>Example of Primary Buttons</h2>
<p>
  Primary button gives more semantic meaning to the element we are
  applying.Provides extra visual weight and identifies the primary action in a
  set of buttons.
</p>
<div class="outline">
 
  <button class="button primary-btn-pink large-btn">Large-button</button>
  <button class="button primary-btn-pink">Primary-solid</button>
  <button class="button primary-btn-pink small-btn">Small-btn</button>
  <button class="button primary-btn-white">Primary-outline</button>
</div>
<iframe
  src="https://carbon.now.sh/embed?bg=rgba%28240%2C248%2C255%2C1%29&t=night-owl&wt=sharp&l=htmlmixed&ds=true&dsyoff=10px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522button%2520primary-btn-pink%2522%253EPrimary-solid%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522button%2520primary-btn-pink%2520small-btn%2522%253ESmall-btn%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522button%2520primary-btn-white%2522%253EPrimary-outline%253C%252Fbutton%253E"
  class="code-example"
  sandbox="allow-scripts allow-same-origin"
>
</iframe>
<h2>Example of Secondary Buttons</h2>
<p>
  Secondary buttons are the alternative we give users to the primary action.
  Secondary buttons are used to perform non-primary actions (e.g. Cancel, Reset
  Filters, etc.)
</p>
<div class="outline">
  <button class="button secondary-btn-grey">Solid-button</button>
  <button class="button secondary-btn-light">Outline-button</button>
</div>
<iframe
  src="https://carbon.now.sh/embed?bg=rgba%28240%2C248%2C255%2C1%29&t=night-owl&wt=sharp&l=htmlmixed&ds=true&dsyoff=10px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522button%2520secondary-btn-grey%2522%253ESolid-button%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522button%2520secondary-btn-light%2522%253EOutline-button%253C%252Fbutton%253E"
  class="code-example"
  sandbox="allow-scripts allow-same-origin"
>
</iframe>
<h2>Example of Icon Buttons with text</h2>
<p>
  An icon button with text is an icon that triggers action written beside it
</p>
<div class="outline">
  <button class="button primary-btn-pink">
    <i class="fas fa-shopping-cart"></i>
    Add to cart
  </button>
  <button class="button primary-btn-pink">
    <i class="fab fa-instagram"></i>
    Follow on Instagram
  </button>
  <button class="button primary-btn-pink">
    <i class="fas fa-thumbs-up"></i>
    Like
  </button>
</div>
<iframe
  src="https://carbon.now.sh/embed?bg=rgba%28240%2C248%2C255%2C1%29&t=night-owl&wt=sharp&l=htmlmixed&ds=true&dsyoff=10px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cbutton%2520class%253D%2522button%2520primary-btn-pink%2522%253E%250A%2520%2520%253Ci%2520class%253D%2522fas%2520fa-shopping-cart%2522%253E%253C%252Fi%253E%250A%2520%2520Add%2520to%2520cart%250A%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522button%2520primary-btn-pink%2522%253E%250A%2520%2520%253Ci%2520class%253D%2522fab%2520fa-instagram%2522%253E%253C%252Fi%253E%250A%2520%2520Follow%2520on%2520Instagram%250A%253C%252Fbutton%253E%250A%253Cbutton%2520class%253D%2522button%2520primary-btn-pink%2522%253E%250A%2520%2520%253Ci%2520class%253D%2522fas%2520fa-thumbs-up%2522%253E%253C%252Fi%253E%250A%2520%2520Like%250A%253C%252Fbutton%253E"
  class="code-example"
  sandbox="allow-scripts allow-same-origin"
>
</iframe>

<h2>Floating Action Button</h2>
<p>
  A floating action button performs the primary, or most common, actions on the
  screen.They are usually in circular shape with an icon at center.They are of
  three types regular, mini and extended.
</p>
<div class="outline floating-btn flex-row">
  <div>
    <i class="fas fa-plus-circle"></i>
  </div>
  <div>
    <i class="far fa-plus-circle"></i>
  </div>
</div>
<iframe
  src="https://carbon.now.sh/embed?bg=rgba%28240%2C248%2C255%2C1%29&t=night-owl&wt=sharp&l=htmlmixed&ds=true&dsyoff=10px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%253Cdiv%253E%250A%2520%2520%253Ci%2520class%253D%2522fas%2520fa-plus-circle%2522%253E%253C%252Fi%253E%250A%253C%252Fdiv%253E%250A%253Cdiv%253E%250A%2520%2520%253Ci%2520class%253D%2522far%2520fa-plus-circle%2522%253E%253C%252Fi%253E%250A%253C%252Fdiv%253E"
  class="code-example"
  sandbox="allow-scripts allow-same-origin"
>
</iframe>

<h2>Links</h2>
<p></p>
<div class="outline">
  <a href="#" class="link link-primary">Primary link</a>
  <a href="#" class="link link-secondary">Secondary link</a>
  <a href="#" class="link link-outline">Outline link</a>
</div>
<iframe
  src="https://carbon.now.sh/embed?bg=rgba%28240%2C248%2C255%2C1%29&t=night-owl&wt=sharp&l=htmlmixed&ds=true&dsyoff=10px&dsblur=68px&wc=true&wa=false&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Ca%2520href%253D%2522%2523%2522%2520class%253D%2522link%2520link-primary%2522%253EPrimary%2520link%253C%252Fa%253E%250A%253Ca%2520href%253D%2522%2523%2522%2520class%253D%2522link%2520link-secondary%2522%253ESecondary%2520link%253C%252Fa%253E%250A%253Ca%2520href%253D%2522%2523%2522%2520class%253D%2522link%2520link-outline%2522%253EOutline%2520link%253C%252Fa%253E"
  class="code-example"
  sandbox="allow-scripts allow-same-origin"
>
</iframe>


